body{
    margin:0;     /* This is used to reset any browser-default margins */
    height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100vw;  /* As above. */
    color: white;
    font:bold;
}
h3{
    font-size: 14pt;
    color:rgb(114, 137,218);
}
.showMsg{
    color: rgb(180,180,180);
    border-bottom: groove 1px grey;
}
#topBar{  
    background-color: rgb(45,45,45);
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 12pt;   
}
#side{
    background-color:rgb(50,50,50); 
    font-color: white;  
    height: 92%;
    overflow-y: auto;
}
#msgSide{
    text-align: center;
}
#main{
    background-color: rgb(54,57,62);
    height:92%;
    overflow-y: auto;
}
#boxMsg{
    background-color: rgb(54,57,62);
    height:85%;
    overflow-y: auto;

}
#inputMsg , #enviarMsg{
     color: rgb(114, 137,218);
    /* padding: 10px; */
    background-color: rgba(60,60,60,.75);
    border-style: ridge;
    margin-top: 0px;
    margin-bottom: 30px;
    
}
#enviarMsg{

}
#oie{
    /*border-top: groove 5px grey;*/
    background-color: rgb(45,45,45);
    bottom: 0;
    margin-bottom: 0.2%;
    width: 73%;
    
    position: fixed;
    margin-left: -10px;
}
#pessoasCanais{
    margin-top: 30px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: 5;
    width: 100%;
    outline-width: ;
}

.linkCanal{
    list-style-type: none;
}
.linkCanal:hover{
    color: grey;
}
.input-group{
    width: 100%;
    margin-top: 25px;
}

/*Scrollbar style*/
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: grey;
}  
::-webkit-scrollbar-thumb {
    background-color:rgb(114, 137,218);
} 
  
